a.korz {
	background:url(/image/1x1.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/image/korz.png', sizingmethod='crop');
	cursor:pointer;
}

#header li{
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0" : "auto");
}