#content {
	padding: 0px 5px;
}
#select_scenario {
	width: 60%;
	border: 1px dotted #000066;
	margin: 0px auto 10px;
	overflow: hidden;
}
#select_scenario .label{
	width: 75px;
	margin-top: 0px;
}
#select_scenario .label b{
	display: none;
}
#select_scenario .formData {
	margin:5px 0 0 3px;
	float: left;
}
div.multiLine div {
	clear: left;
	overflow: hidden;
}
#select_scenario .formRow input {
	display: block;
	float: left;
	margin-top:3px;
}
#select_scenario .formRow label {
	display: block;
	float: left;
	padding-left:3px;
}
#select_scenario button {
	display: block;
	margin: 0px auto 5px;
}
#scenario_processing {
	display: block;
	width: 938px;
	height: 100%;
	min-height: 150px;
	border: 1px solid #848484;
}
