.formRow .label {
	width:100px;
	color: #000000;
}
.formRow .inpText {
	border: 1px solid #354C75;
	width: 180px;
}
button {
	display: block;
	width: 90px;
	margin: 18px auto 0px;
}
#log_password {
	display: block;
	border: 1px solid #9D9D9D;
	width: 390px;
	margin: 10px auto 0px;
	padding: 5px 0px 20px;
}