{{DOCTYPE}}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Error 500</title>
    <style type="text/css">
    /*<![CDATA[*/
    *{font-family: Arial, Helvetica, sans-serif;}
    body {padding: 20px;}
    h1 {font-size: 14pt;color: #800000;}
    p {font-size: 11pt;color: #000000;}
    a {text-decoration: underline;color: #00008B;}
    a:focus, a:hover {color: #0000DD;}
    /*]]>*/
    </style>
  </head>
  <body>
    <h1>Error 500</h1>
    <p><strong>Sorry but we seem to have a little problem!</strong></p>
    <p>Internal server error:  Unrecognized Server Error!</p>
    <p>{{TEXT}}</p>
  </body>
</html>