RewriteEngine On

RewriteCond   %{REQUEST_FILENAME} !-f
#RewriteCond   %{REQUEST_FILENAME} !-d
RewriteRule  ^((.*\.(html?|php))|((.+\/)?[^\.\/]*))$ index.php?%{QUERY_STRING} [L]

#ErrorDocument 404 /error404.php

# php/fcgid
<IfModule fcgid_module>
    Options +ExecCGI
</IfModule>


#  php/mod
<IfModule php5_module>
    php_value upload_max_filesize 3M
    php_value post_max_size 3M
</IfModule>
